/*.bak
/*.tmp
/.build
/FFI-Platypus-Lang-Rust-*
*.so
*.dll
*.o
*.bundle
*.dylib
/fbx.json
/examples/Person/ffi/Cargo.lock
/t/ffi/target
/examples/Person/ffi/_build
/examples/Person/ffi/target
*.swp
*.old
*.orig
